<% content_for :header do %>An account for <%= @user.email %> has been created.<% end %>
    <p>
	Your login is: <%= @user.email %> <br />
	Your password is: <%= @password %>
    </p>
	
    <p>
      Thank you.
    </p>