<% content_for :header do %>An account for <%= @user.email %> has been created.<% end %>
    <p>
	Your login is: <%= @user.email %> <br />
	Please visit <%= link_to Inscriptio, new_user_password_path %> to create a new password and log into your account.
    </p>
	
    <p>
      Thank you.
    </p>