<% content_for :header do %>Bulletin Board Activity for <%= @bulletin_board.reservable_asset.reservable_asset_type.name %><% end %>
    <p>
      Someone posted something on the bulletin board.
    </p>
