<% content_for :header do %>Your reservation for <%= reservation.reservable_asset.reservable_asset_type.name %><% end %>
    <p>
      Your reservation is about to expire.
    </p>
    <p>
      Thank you.
    </p>