<% content_for :header do %>Your reservation for <%= reservation.reservable_asset.reservable_asset_type.name %> <%= reservation.reservable_asset.name %><% end %>
		    <p>
		      <%= @notice.message %>
		    </p>
		    <p>
		      Thank you.
		    </p>