<% content_for :header do %>Your reservation for <%= @reservation.reservable_asset.reservable_asset_type.name %><% end %>
    <p>
      Your reservation request has been submitted.
    </p>
    <p>
      You will be notified once your request has been approved. Thank you.
    </p>