<% content_for :header do %>Messages<% end %>
<div>
  <% unless @messages.blank? %>
    <ul class="messages collection-list">
	    <%= render :partial => 'shared/lines/message', :collection => @messages %>
    </ul>
  <% else %>
	<h2>No messages yet.</h2>
  <% end %>
  <% if can? :manage, Message %>
    <h2 class="action-button"><%= link_to('New Message', new_message_path) %></h2>
  <% end %>
</div>
