<% content_for :header do %>Available Assets<% end %>
<div class="reservable_assets collection-list">
  <% unless @libraries.blank? %>
    <% @libraries.each do |library| %>
	  <h2><%= library.name %></h2>
      <% unless library.reservable_asset_types.blank? %>
        <% library.reservable_asset_types.each do |rat| %>
		  <h3 class="collapsable description"><%= rat.name %></h3>
		  <ul class="navlist description description-target">
		    <% unless rat.reservable_assets.blank? %>
		      <% rat.reservable_assets.each do |ra| %>
				<% if ra.max_concurrent_users > ra.current_users.length %>
				  <li><%= link_to("#{ra.reservable_asset_type.name}-#{ra.name}", ra ) %></li>
				<% end %>
			  <% end %>
		    <% else %>
		      <li class="empty">No available assets.</li>
		    <% end %>
		  </ul>
		<% end %>
      <% else %>
        <h3>No available assets for this library.</h3>
      <% end %>
    <% end %>
  <% end %>
</div>