(function () {
  var sel = '#reservable_asset-' + <%= @reservable_asset.id %>;
  if ($(sel).siblings('li').length == 0) {
    $(sel).replaceWith('<li class="empty">No reservable assets.</li>');
  }
  else {
    $(sel).remove();
  }
})()
