#map{
	/*height: 481px;
	width: 654px;*/
	cursor: crosshair;
}
.overlay {
	display: block;
	position: absolute;
	cursor: move;
	border-radius: 0px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	background-color: #52854c;
	/*border: 2px solid #0C3666;*/
}
.full {
	background-color: #a51c30;
	background-image: url('/images/crosshatch.png');
}
.bt-content {
}
.bt-active {
	opacity: 1;
}
#tooltip {
	display: none;
}
.bt-wrapper form {
	display: none;
}
#loading {
  display: none;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
}
#tooltipTools .nudger, #closeTooltip {
  width: 25px;
  height: 25px;
  padding: 0px;
}

#movers, #sizers {
  text-align: center;
  width: 95px;
  padding: 0px;
  margin: 10px 0px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

#sizers {
	font-size: 18px;
}

#moveLeft, #narrow {
  margin-right: 12.5px;
}

#moveRight, #widen {
  margin-left: 12.5px;
}
#closeTooltip {
	position: absolute;
	right: 10px;
}
