#map{
	height: 768px;
	width: 1024px;
	cursor: crosshair;
}
.overlay {
	display: block;
	position: absolute;
	cursor: move;
	border-radius: 0px;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.asset {
	background-color: #1B77E0;
	border: 2px solid #0C3666;
}
.subject {
	background-color: #F2B713;
	border: 2px solid #99730C;
}
#tooltip {
	display:none;
	background-color: rgba(255, 255, 255, 1);
	font-size:12px;
	/*height:260px;*/
	max-width:200px;
	/*text-align: center;*/
	padding:25px;
	color:#000;
	border: 4px solid black;
	border-radius: 20px;
	position: absolute;
	z-index: 999;
}
.bt-content {
	font-size: small;
	color: #000;
	line-height: normal;
}
.bt-active {
  /* example:
  background-color: yellow !important;
  */
}
