#map{
	height: 768px;
	width: 1024px;
	cursor: crosshair;
}
.overlay {
	display: block;
	position: absolute;
	cursor: move;
	border-radius: 0px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	background-color: #1B77E0;
	border: 2px solid #0C3666;
}
.bt-content {
}
.bt-active {
}
