@charset "utf-8";

html {
	overflow-y: scroll;
}

body {
	background: url(/images/background.png) #8c8179 repeat-y top center;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0px;
}

a:link, a:visited {
	color: #a51c30;
}

a:hover {
	color: #bb343f;
}

/*h1 {
	background: url(/images/background_heading.png) #a51c30 repeat-x center center;
	font-size: 22px;
	clear: both;
	color: #ffffff;
	display: block;
	margin: 0px;
	padding: 10px 0px;
	text-align: center;
	width: 100%;
}*/

#content-header a {
  color: #ffffff;
}

h2 {
	font-size: 19px;
	margin-bottom: 5px;
}

p {
	line-height: 20px;
	margin-top: 5px;	
}

dt {
  margin-top: 10px;
  font-weight: bold;
}

dd {
  margin-left: 20px;
}

.clear {
	clear: both;
}

#skip {	
	border: none;
	height: 0;
	left: 0;
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 0;
}

#header {
	background-color: #ffffff;
	margin: 0px auto;
	width: 960px;
}

#logo {
	padding: 15px 0px 18px 66px;
}

#logo a, #logo span {
	display: block;
	height: 65px;
	width: 300px;
}

#logo span #home-logo {
    background: url("/images/logo_inscriptio.png") no-repeat scroll left top transparent;
    display: block;
    height: 65px;
    text-indent: -9999px;
}

#container {
	margin: 0px auto 0px;
	width: 960px;
}

#utility {
	float: right;
	margin: 15px 15px 0px 0px;
}

/* Navigation */

#content-left {
	background-color: #bac5c6;
	float: left;
	margin-left: 15px;
    margin-top: 15px;
	padding: 15px 0px;
	width: 210px;	
    overflow: hidden;
}

#content-left > h4:first-child {
  padding-top: 0px;
}

#content-left > div {
  padding-left: 10px;
  padding-right: 10px;
}

#content-left ul {
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
}

#content-left .empty {
  padding: 10px 0px;
  text-align: center;
}

ul.navlist {
	margin-bottom: 20px;
}

#content-left a {
	font-weight: bold;
	padding: 6px 3px 6px 25px;
	background-color: #bac5c6;
	display: block;
  width: 182px;
}

#content-left a:link, .navlist a:visited {
	color: #1e1e1e;
	text-decoration: none;
}

#content-left a:hover, #content-left li#active a {
	background-color: #f3f3f1;
}

#content-left li#active a {
	background: url(/images/menu_arrow.png) #f3f3f1 right center no-repeat;
}

.actions li {
  display: inline;
}

#content-left ul ul li {
	text-indent: 15px;
}

#content-left ul ul a {
	font-weight: normal;
  padding-top: 0px;
  padding-bottom: 0px;
}

#content-left h4 {
	display: block;
	font-size: 16px;
	padding: 20px 0px 0px 15px;	
	margin: 0px;
}

#content-left p {
	margin: 0px;
}

#content-left p a:link {
	font-weight: normal;
	margin: 0px;
	text-decoration: underline;
}

#content-left p a:hover {
	background-color: none;
}

#content-left .collapsable {
  cursor: pointer;
}

.collapsable {
  cursor: pointer;
}


/* Body */

.notice, .alert, .error {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
}

.error {
  color: red;
}

.alert {
  /*color: #4e84c4;*/
}

#content-right {
	margin: 15px 0px 0px 40px;
	width: 920px;
}	

h2.action-button {
	background: url(/images/background_button.png) #a51c30 center center no-repeat;
	display: block;
	font-size: 15px;
	height: 32px;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	max-width: 333px;
}

h2.action-button a:link, h2.action-button a:visited {
	color: #ffffff;
	text-decoration: none;
}

h2.action-button a:hover {
	text-decoration: underline;
}

#content li {
	margin-top: 10px;
}


#global-links {
	background: url(/images/background_heading.png) #a51c30 repeat-x center center;
	display: block;
	margin: 30px auto 0px;
	text-align: center;
	width: 960px;
	padding: 0px;
}

#global-links ul {
	margin: 0px;
	padding: 15px 0px 15px 40px;
}

#global-links li {
	display: inline;
	font-size: 11px;
	list-style-type: none;
	padding-right: 40px;
}

#global-links a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

#global-links a:hover {
	text-decoration: underline;
}

#footer {
	border-top: 1px solid #bac5c6;
	clear: both;
	margin: 0px auto 15px;
	padding: 10px 0px 0px;
	width: 960px;
}

#footer p {
	margin-left: 15px;
}

/* New Styles */

body.double-column #content-right {
	margin-left: 240px;
	width: 705px;
}

#bar {
	background: url(/images/background_heading.png) #a51c30 repeat-x bottom center;
	color: #fff;
	padding: 5px 10px 5px 10px;
	height: 25px;
}
#user_options {
	float: right;
	width: auto;
}

#breadcrumb {
	float: left;
	width: auto;
}

#user_options a:link, #user_options a:visited {
	color: #fff;
}

#breadcrumb a:link, #breadcrumb a:visited {
	color: #fff;
}


#content-header a {
  color: #a51c30;
}

h1 {
	font-size: 22px;
	clear: both;
	display: block;
	margin: 0px;
	padding: 10px 0px 10px 20px;
	width: 100%;
}

h2.action-new-library {
	background: url(/images/icon_library_32.png) #ffffff no-repeat left center;
	height: 32px;
	padding: 5px 0px 0px 40px;
}

h2.action-new-floor {
	background: url(/images/icon_new_floor_32.png) #ffffff no-repeat left center;
	height: 32px;
	padding: 5px 0px 0px 40px;
}

h2.action-new-subject {
	background: url(/images/icon_new_subject_32.png) #ffffff no-repeat left center;
	height: 32px;
	padding: 5px 0px 0px 40px;
}

h2.action-generate-reset {
	background: url(/images/icon_reset_generate_32.png) #ffffff no-repeat left center;
	height: 32px;
	padding: 5px 0px 0px 40px;
}

h2.action-reserve-asset {
	background: url(/images/icon_reserve_asset_32.png) #ffffff no-repeat left center;
	height: 32px;
	padding: 5px 0px 0px 40px;
}

h2.action-new-asset-type {
	background: url(/images/icon_new_reservable_asset_32.png) #ffffff no-repeat left center;
	height: 32px;
	padding: 5px 0px 0px 40px;
}

li {
	list-style-type: none;
	padding-bottom: 4px;
}

#content-left h4 {
	background: url(/images/icon_plus_16.png) no-repeat 8px bottom;
	padding-left: 35px;
}

#content-left > div {
  padding: 5px 10px 5px 35px;
}

ul.actions {
	display: inline;
	padding-left: 20px;
}

 a.action-add, a.action-delete, a.action-edit, a.action-move-down {
	margin-right: 10px;
}

 a.action-move-up {
	margin-right: 8px;
}

.action-edit {
	background: url(/images/icon_edit_16.png) #ffffff no-repeat left center;
	padding-left: 20px;
}

.action-delete {
	background: url(/images/icon_delete_16.png) #ffffff no-repeat left center;
	padding-left: 20px;
}

.action-move-up {
	background: url(/images/icon_move_up_16.png) #ffffff no-repeat -2px center;
	padding-left: 16px;
}

.action-move-down {
	background: url(/images/icon_move_down_16.png) #ffffff no-repeat -2px center;
	padding-left: 16px;
}


h2.collapsable {
	background: url(/images/icon_plus_16.png) no-repeat 8px 3px;
	padding-left: 35px;
}

h3.collapsable {
	background: url(/images/icon_plus_16.png) no-repeat 8px 1px;
	padding-left: 35px;
}

h2.collapsable + div {
	padding-left: 35px;
}

div.reservation_notice {
	margin-bottom: 8px;
	padding-left: 35px;
}

#user-dashboard {
	background: url(/images/background_dashboard.png) #ffffff repeat-x center top;
	margin: 30px auto 0px;
	padding: 25px 0px 0px 0px;
	width: 960px;
}

#user-dashboard h3 {
	margin: 0px;
	padding-left: 20px;
}

#user-dashboard div {
	float: left;
	background-color: transparent;
	margin-bottom: 20px;
}

#user-dashboard li {
	list-style-type: disc;
}

#user-dashboard a:link, #user-dashboard a:visited {
	color: #333;
	text-decoration: none;
}

#user-dashboard a:hover {
	text-decoration: underline;
}

div.col1 {
	margin-left: 0px;
}

div.col2 {
	margin-left: 100px;
}

div.col3 {
	margin-left: 100px;
}

div.col4 {
	margin-left: 100px;
}



