<% content_for :header do %>Reservation Notices<% end %>
<div class="reservation_notices collection-list">
  <% unless @libraries.blank? %>
    <% @libraries.each do |library| %>
      <h2><%= library.name %></h2>
	  <% unless library.reservable_asset_types.blank? %>
	    <% library.reservable_asset_types.each do |at| %>
	      <h3 class="collapsable asset_notices"><%= at.name %></h3>
		  <div class="asset_notices asset_notices-target">
            <% unless at.reservation_notices.blank? %>
	          <%= render :partial => 'shared/lines/reservation_notice', :collection => at.reservation_notices %>
            <% else %>
	          <h2>No notices for this asset yet.</h2>
	        <% end %>
			<h2 class="action-generate-reset"><%= link_to('Generate/Reset Notices', generate_notices_reservation_notices_path(:asset_type => at), :confirm => "Are you sure? This will delete and regenerate all reservation notices for this asset.") %></h2>
	      </div>
	    <% end %>
      <% else %>
	    <h2>No asset types for this library yet.</h2>
      <% end %>
    <% end %>
  <% else %>
	<h2>No libraries yet.</h2>
  <% end %>
</div>
