<% content_for :header do %>My Reservations<% end %>
<div class="reservations collection-list">
  <% %w(Approved Expiring Pending).each do |status| %>
    <h2><%= status %> Reservations</h2>
      <ul class="<%= status.downcase %>">
        <% unless @reservations[status].blank? %>
	        <%= render :partial => 'shared/lines/reservation', :collection => @reservations[status] %>
        <% else %>
          <li>No <%= status.downcase %> reservations.</li>
        <% end %> <!-- END unless/else -->
      </ul>

  <% end %> <!-- END each -->
</div>
