<% content_for :header do %><%= @user.email %><% end %>
<h2 class="collapsable show-object">All Reservations</h2>

<div class="user show-object show-object-target">

  <% unless @reservations.blank? %>
    <%= render :partial => 'shared/lines/reservation', :collection => @reservations %>
  <% else %>
    <h2>No reservations yet.</h2>
  <% end %>

</div>