<div class="bulletin_board line" id="bulletin_board-<%= bulletin_board.id %>">
  <%= link_to(bulletin_board.id, bulletin_board ) %>
  
  <% if current_user.admin? %>
    <%= link_to('Edit', edit_bulletin_board_path(bulletin_board)) %> |
    <%= link_to('Delete', bulletin_board_path(bulletin_board), :confirm => "Are you sure?", :method => :delete, :id => "delete-#{bulletin_board.id}") %>
  <% end %>
</div>
