<li class="call_number line" id="library-<%= call_number.id %>">
  <%= link_to(call_number.call_number, call_number ) %>
  
  <% if current_user.admin? %>
    <ul class="actions">
      <li><%= link_to('Edit', edit_call_number_path(call_number)) %></li>
      <li><%= link_to('Delete', call_number_path(call_number), :method => :delete, :id => "delete-#{call_number.id}") %></li>
    </ul>
  <% end %>  

</li>
