<li class="library line" id="library-<%= library.id %>">
  <%= link_to library, library %>
  
    
  <% if current_user.try(:admin?) %>
	<ul class="actions">
      <li><%= link_to 'Edit', edit_library_path(library) %></li>
	  <li><%= link_to('Delete', library_path(library), :confirm => "Are you sure?", :method => :delete, :id => "delete-#{library.id}") %></li>
    </ul>
  <% end %>
</li>
