<div class="reservable_asset_type line" id="reservable_asset_type-<%= reservable_asset_type.id %>">
  <%= link_to(reservable_asset_type.name, reservable_asset_type ) %>
  
  <% if current_user.admin? %>
	<ul class="actions">
      <li><%= link_to('Edit', edit_reservable_asset_type_path(reservable_asset_type)) %></li>
      <li><%= link_to('Delete', reservable_asset_type_path(reservable_asset_type), :confirm => "Are you sure?", :method => :delete, :id => "delete-#{reservable_asset_type.id}") %></li>
    </ul>	
  <% end %>
</div>
