<div class="reservable_asset line" id="reservable_asset-<%= reservable_asset.id %>">
  <h3><%= link_to(reservable_asset.reservable_asset_type.name, reservable_asset ) %></h3>
  
  <!-- If authorized to edit -->
  <%= link_to('Edit', edit_reservable_asset_path(reservable_asset)) %> |
  <%= link_to('Delete', reservable_asset_path(reservable_asset), :method => :delete, :id => "delete-#{reservable_asset.id}") %>
</div>
