<div class="reservation line" id="reservation-<%= reservation.id %>">
<%= link_to("Reservation ID-#{reservation.id}", reservation ) %>
  
  <% if current_user.admin? || reservation.allow_edit?(current_user) %>
    <%= link_to('Edit', edit_reservation_path(reservation)) %> |
	<%= link_to('Delete', reservation_path(reservation), :method => :delete, :id => "delete-#{reservation.id}") %>
  <% end %>
  
</div>
