<li class="subject_area line" id="subject_area-<%= subject_area.id %>">
  <%= link_to(subject_area.name, subject_area ) %>
  
  <% if current_user.admin? %>
    <ul class="actions">
      <li><%= link_to('Edit', edit_subject_area_path(subject_area), :class => "action-edit") %></li>
      <li><%= link_to('Delete', subject_area_path(subject_area), :confirm => "Are you sure you want to delete this item? This action cannot be undone.", :method => :delete, :id => "delete-#{subject_area.id}", :class => "action-delete") %></li>
    </ul>
  <% end %>
</li>
