<div class="user_type line" id="user_type-<%= user_type.id %>">
  <h3><%= link_to(user_type.name, user_type ) %></h3>
  
  <% if admin_signed_in? %>
    <%= link_to('Edit', edit_user_type_path(user_type)) %> |
    <%= link_to('Delete', user_type_path(user_type), :method => :delete, :id => "delete-#{user_type.id}") %>
  <% end %>
</div>
