<div class="user line" id="user-<%= user.id %>">
  <%= link_to(user.email, user ) %>
  
  <% if current_user.admin? %>
	<ul class="actions">
      <li><%= link_to('Edit', edit_user_path(user)) %></li>
      <li><%= link_to('Delete', user_path(user), :method => :delete, :id => "delete-#{user.id}") %></li>
    </ul>
  <% end %>
</div>
