<li class="user_type line" id="user_type-<%= user_type.id %>">
  <%= "(ID #{user_type.id}) #{user_type.name}" %>

  <% if can? :manage, user_type %>
	<ul class="actions">
      <li><%= link_to('Edit', edit_library_user_type_path(user_type.library, user_type), :class => "action-edit") %></li>
      <li><%= link_to('Delete', library_user_type_path(user_type.library, user_type), :confirm => "Are you sure you want to delete this item? This action cannot be undone.", :method => :delete, :id => "delete-#{user_type.id}", :class => "action-delete") %></li>
    </ul>
  <% end %>
</li>
