<div class="libraries collection-list">
  <% unless @libraries.blank? %>
    <%= render :partial => 'shared/lines/library', :collection => @libraries %>
  <% else %>
    <h2>No libraries yet.</h2>
  <% end %>
  <% if admin_signed_in? %>
    <p><%= link_to('New Library', new_library_path) %></p>
  <% end %>
</div>
