<div>
  <% unless @libraries.blank? %>
    <% @libraries.each do |l| %>
      <% unless params[:subject_area_id] %>
        <h2><%= l.name %></h2>
      <% else %>
        <h2><%= l.subject_areas.find(params[:subject_area_id]).name %></h2>
      <% end %>
       <% if can?(:manage, l) %>
         <% query = {:library_id => l.id}; if params[:subject_area_id] then query[:subject_area_id] = params[:subject_area_id] end %>
         <p class="action-button"><%= link_to('New Call Number', new_library_call_number_path(query)) %></p>
       <% end %>
       <ul class="call_numbers collection-list">
         <%= render :partial => 'shared/lines/call_number', :collection => l.call_numbers %>
       </ul>
    <% end %>
  <% else %>
    <h2>No call numbers yet.</h2>
  <% end %>
</div>
