require 'capistrano/rails/assets'
require 'capistrano/rails/migrations'

set :application, 'inscriptio'
set :repo_url, 'git@github.com:harvard-library/inscriptio.git'

ask :branch, proc { `git rev-parse --abbrev-ref HEAD`.chomp }
set :user, 'username'
set :deploy_via, :copy
set :deploy_to, '/path/to/deploy/dir'
set :scm, :git

set :rvm_type, :user
set :rvm_custom_path, '~/.rvm'
set :rvm_ruby_version, '1.9.3-p448'

set :format, :pretty
# set :log_level, :debug
# set :pty, true


set :linked_files, %w{config/database.yml .env}
#set :linked_dirs, %w{bin log tmp/pids tmp/cache tmp/sockets vendor/bundle public/system public/uploads}

set :keep_releases, 3

namespace :bootstrap do
  desc 'Set up cronjobs'
  task :crontab do
    on roles(:web) do
      execute :rake, 'inscriptio:cron_task:setup_crontab'
    end
  end
end

namespace :deploy do
  desc 'Bundle'
  task :bundle do
    on roles(:all), :in => :sequence, :wait => 5 do
      echo "WTF"
    end
  end
  desc 'Restart application'
  task :restart do
    on roles(:app), in: :sequence, wait: 5 do
      execute :touch, release_path.join('tmp/restart.txt')
    end
  end

  after :restart, :clear_cache do
    on roles(:web), in: :groups, limit: 3, wait: 10 do
      # Here we can do anything such as:
      # within release_path do
      #   execute :rake, 'cache:clear'
      # end
    end
  end

  after :finishing, 'deploy:cleanup'

end
