<% content_for :header do %>Reservations<% end %>
<div class="reservations collection-list">
  <% unless @reservations.blank? %>
    <%= render :partial => 'shared/lines/reservation', :collection => @reservations %>
  <% else %>
    <h2>No reservations yet.</h2>
  <% end %>

  <% if current_user.admin? %>
    <h2 class="action-button"><%= link_to('New Reservation', new_reservation_path) %></h2>
  <% end %>
</div>
