<div class="floors collection-list">
  <% unless @floors.blank? %>
    <%= render :partial => 'shared/lines/floor', :collection => @floors %>
  <% else %>
    <h2>No floors for this library yet.</h2>
  <% end %>
  <% if current_user.admin? %>
    <p><%= link_to('New Floor', new_library_floor_path(@floor.library)) %></p>
  <% end %>
  <p><%= link_to("Back to " + @library.name, @library ) %></p>
</div>
