<div class="floor show-object">
  <h1><%= @floor %> in <%= @floor.library.name %></h1>
  <% unless @floor.floor_map.blank? %>
    <h3>Map</h3>
    <%= image_tag(@floor.floor_map.url) %>
  <% end %>
</div>
