<div class="floor show-object">
  <h1><%= @floor %> in <%= @floor.library.name %></h1>
  <dl>
    <dt>Call numbers:</dt>
    <dd><%= @floor.call_numbers.join(', ') %></dd>

    <% unless @floor.floor_map.blank? %>
      <dt>Map</dt>
      <dd><%= image_tag(@floor.floor_map.url) %></dd>
    <% end %>

  </dl>
</div>
