<div class="reservable_asset_types collection-list">
  <% unless @reservable_asset_types.blank? %>
    <%= render :partial => 'shared/lines/reservable_asset_type', :collection => @reservable_asset_types %>
  <% else %>
    <h2>No reservable asset types for this library yet.</h2>
  <% end %>
  <p></p>
</div>

  <% if current_user.admin? %>
    <p><%= link_to('New Reservable Asset Type', new_reservable_asset_type_path) %></p>
  <% end %>