<div class="reservable_asset_types collection-list">
  <% unless @reservable_asset_types.blank? %>
    <%= render :partial => 'shared/lines/reservable_asset_type', :collection => @reservable_asset_types %>
  <% else %>
    <h2>No reservable asset types for this library yet.</h2>
  <% end %>
  <p></p>
</div>
