<div>
  <% unless @moderator_flags.blank? %>
  <ul class="moderator_flags collection-list">
	  <%= render :partial => 'shared/lines/moderator_flag', :collection => @moderator_flags %>
  </ul>
  <% else %>
	<h2>No moderator flags yet.</h2>
  <% end %>
</div>
