<div class="reservation_expiration_notices collection-list">
  <h1>Reservation Expiration Notices</h1>
  <div id="content-right">
  <% unless @reservation_expiration_notices.blank? %>
	<%= render :partial => 'shared/lines/reservation_expiration_notice', :collection => @reservation_expiration_notices %>
  <% else %>
	<h2>No reservation expiration notices yet.</h2>
  <% end %>
  <% if current_user.admin? %>
    <h2 class="action-button"><%= link_to('New Reservation Expiration Notice', new_reservation_expiration_notice_path) %></h2>
  <% end %>
</div>
</div>
