<div class="reservation_expiration_notices collection-list">
  <% unless @reservation_expiration_notices.blank? %>
	<%= render :partial => 'shared/lines/reservation_expiration_notice', :collection => @reservation_expiration_notices %>
  <% else %>
	<h2>No reservation expiration notices yet.</h2>
  <% end %>
</div>

  <% if current_user.admin? %>
    <p><%= link_to('New Reservation Expiration Notice', new_reservation_expiration_notice_path) %></p>
  <% end %>
