<div class="subject_areas collection-list">
  <% unless @subject_areas.blank? %>
	<%= render :partial => 'shared/lines/subject_area', :collection => @subject_areas %>
  <% else %>
	<h2>No subject areas yet.</h2>
  <% end %>
</div>

  <% if current_user.admin? %>
    <h2 class="action-button"><%= link_to('New Subject Area', new_subject_area_path) %></h2>
  <% end %>
