<div class="subject_areas collection-list">
  <% unless @libraries.empty? %>
    <% @libraries.each do |l| %>
      <h2><%= l.name %></h2>
      <% if current_user.admin? %>
        <h2 class="action-new-subject"><%= link_to('New Subject Area', new_library_subject_area_path(l)) %></h2>
      <% end %>
      <% unless l.subject_areas.empty? %>
	      <%= render :partial => 'shared/lines/subject_area', :collection => l.subject_areas %>
      <% else %>
    	  <h2>No subject areas yet.</h2>
      <% end %>
    <% end %>
  <% end %>
</div>
