<div class="subject_area show-object">
  <h1><%= @subject_area.name %></h1>
  <dl>
    <dt>Description:</dt>
    <dd><%= @subject_area.description %></dd>
    <dt>Floors:</dt>
    <dd>
	  <% @subject_area.floors.each do |floor| %>
	    <%= link_to floor.name, library_floor_path(floor.library,floor) %>
	  <% end %>
	</dd>
  </dl>
</div>
