<div class="subject_area show-object">
  <% content_for :header do %><%= @subject_area.name %><% end %>
  <dl>
	<dt>Long Name:</dt>
  	<dd><%= @subject_area.long_name %></dd>
    <dt>Description:</dt>
    <dd><%= @subject_area.description %></dd>
    <dt>Floors:</dt>
    <dd>
	  <% @subject_area.floors.each do |floor| %>
	    <%= link_to "#{floor.name} - #{floor.library.name}", library_floor_path(floor.library,floor) %> <br />
	  <% end %>
	</dd>
  </dl>
</div>
