<div>
  <% unless @posts.blank? %>
  <ul class="posts collection-list">
	  <%= render :partial => 'shared/lines/post', :collection => @posts %>
  </ul>
  <% else %>
	<li><h2>No posts yet.</h2></li>
  <% end %>
  <h2 class="action-button"><%= link_to('New Post', new_post_path) %></h2>
</div>
