<div class="posts collection-list">
  <% unless @posts.blank? %>
	<%= render :partial => 'shared/lines/post', :collection => @posts %>
  <% else %>
	<h2>No posts yet.</h2>
  <% end %>

  <h2 class="action-button"><%= link_to('New Post', new_post_path) %></h2>
</div>
