<div class="moderator_flags collection-list">
  <% unless @moderator_flags.blank? %>
	<%= render :partial => 'shared/lines/moderator_flag', :collection => @moderator_flags %>
  <% else %>
	<h2>No moderator flags yet.</h2>
  <% end %>
</div>
