<div class="bulletin_boards collection-list">
  <% unless @bulletin_boards.blank? %>
	<%= render :partial => 'shared/lines/bulletin_board', :collection => @bulletin_boards %>
  <% else %>
	<h2>No bulletin boards yet.</h2>
  <% end %>
</div>

  <% if current_user.admin? %>
    <h2 class="action-button"><%= link_to('New Bulletin Board', new_bulletin_board_path) %></h2>
  <% end %>
