<div class="bulletin_board show-object">
  <% content_for :header do %>Bulletin Board for <%= @bulletin_board.reservable_asset.name %><% end %>

  <p>Please note that all posts are PERMANENTLY deleted after <%= @bulletin_board.post_lifetime %> days.</p>

  <% unless @posts.blank? %>
	<%= render :partial => 'shared/lines/post', :collection => @posts %>
  <% else %>
	<h2>No posts yet.</h2>
  <% end %>
  
  <h2 class="action-button"><%= link_to('New Post', new_post_path(:bulletin_board => @bulletin_board)) %></h2>

</div>
